# fly.toml app configuration file generated for noyakka-core on 2026-01-26T23:33:34+10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'noyakka-core'
primary_region = 'syd'


[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[mounts]
  source = "noyakka_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
